body {
  background-color: var(--primary-bg);
}

a {
  list-style: none;
  text-decoration: none;
}

.cp {
  cursor: pointer;
}

.main_content {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
